# SPDX-License-Identifier: GPL-2.0

menu "DesignWare-based PCIe controllers"
	depends on PCI

config PCIE_DW
	bool

config PCIE_DW_HOST
	bool
	select PCIE_DW
	select IRQ_MSI_LIB
	select PCI_HOST_COMMON

config PCI_HISI
	depends on OF && (ARM64 || COMPILE_TEST)
	bool "HiSilicon Hip05 and Hip06 SoCs PCIe controller"
	depends on PCI_MSI
	select PCIE_DW_HOST
	select PCI_HOST_COMMON
	help
	  Say Y here if you want PCIe controller support on HiSilicon
	  Hip05 and Hip06 SoCs

config PCIE_KIRIN
	depends on OF && (ARM64 || COMPILE_TEST)
	tristate "HiSilicon Kirin PCIe controller"
	depends on PCI_MSI
	select PCIE_DW_HOST
	select REGMAP_MMIO
	help
	  Say Y here if you want PCIe controller support
	  on HiSilicon Kirin series SoCs.

endmenu
