# SPDX-License-Identifier: GPL-2.0
# Put here option for CPU selection and depending optimization

config X86_INTERNODE_CACHE_SHIFT
	int
	default "12" if n
	default X86_L1_CACHE_SHIFT

config X86_L1_CACHE_SHIFT
	int
	default "7" if n
	default "6" if X86_64
	default "4" if n
	default "5" if n || n || n || n || n || n || n || n || n || n || n || n || n || n

config X86_TSC
	def_bool y
	depends on (n || n || n || n || n || n || n || n || n || n || n || n || n || n || n || n || n || n) || X86_64

config X86_HAVE_PAE
	def_bool y
	depends on n || n || n || n || n || n || n || n || n || n || X86_64

config X86_CX8
	def_bool y
	depends on X86_HAVE_PAE || n || n || n || n || n || n

# this should be set for all -march=.. options where the compiler
# generates cmov.
config X86_CMOV
	def_bool y
	depends on (n || n || n || n || n || n || n || n || n || n || n || n || X86_64)

config X86_MINIMUM_CPU_FAMILY
	int
	default "64" if X86_64
	default "6" if n && n
	default "5"

config X86_DEBUGCTLMSR
	def_bool y
	depends on !(n || n || n || n || n || n || n) && !UML

config IA32_FEAT_CTL
	def_bool y
	depends on CPU_SUP_INTEL

config X86_VMX_FEATURE_NAMES
	def_bool y
	depends on IA32_FEAT_CTL

config BROADCAST_TLB_FLUSH
	def_bool y
	depends on CPU_SUP_AMD && 64BIT

config CPU_SUP_INTEL
	def_bool y
	help
	  This enables detection, tunings and quirks for Intel processors

	  You need this enabled if you want your kernel to run on an
	  Intel CPU. Disabling this option on other types of CPUs
	  makes the kernel a tiny bit smaller. Disabling it on an Intel
	  CPU might render the kernel unbootable.

	  If unsure, say N.

config CPU_SUP_AMD
	def_bool y
	help
	  This enables detection, tunings and quirks for AMD processors

	  You need this enabled if you want your kernel to run on an
	  AMD CPU. Disabling this option on other types of CPUs
	  makes the kernel a tiny bit smaller. Disabling it on an AMD
	  CPU might render the kernel unbootable.

	  If unsure, say N.
