# SPDX-License-Identifier: GPL-2.0-only

# This config refers to the generic KASAN mode.
menuconfig KASAN
	bool "KASAN: dynamic memory safety error detector"
	depends on n
	depends on SYSFS && !SLUB_TINY
	select STACKDEPOT_ALWAYS_INIT
	help
	  Enables KASAN (Kernel Address Sanitizer) - a dynamic memory safety
	  error detector designed to find out-of-bounds and use-after-free bugs.

	  See Documentation/dev-tools/kasan.rst for details.

	  For better error reports, also enable CONFIG_STACKTRACE.
