# SPDX-License-Identifier: GPL-2.0-only
menu "IRQ chip support"

config IRQCHIP
	def_bool y
	depends on (OF_IRQ || ACPI_GENERIC_GSI)

config ARM_GIC
	bool
	depends on OF
	select IRQ_DOMAIN_HIERARCHY
	select GENERIC_IRQ_EFFECTIVE_AFF_MASK if SMP

config ARM_GIC_MAX_NR
	int
	depends on ARM_GIC
	default 1

config ARM_GIC_V2M
	bool
	depends on PCI
	select ARM_GIC
	select IRQ_MSI_LIB
	select PCI_MSI
	select IRQ_MSI_IOMMU

config ARM_GIC_V3
	bool
	select IRQ_DOMAIN_HIERARCHY
	select GENERIC_IRQ_EFFECTIVE_AFF_MASK if SMP
	select HAVE_ARM_SMCCC_DISCOVERY
	select IRQ_MSI_IOMMU

config ARM_GIC_ITS_PARENT
	bool

config ARM_GIC_V3_ITS
	bool
	select GENERIC_MSI_IRQ
	select IRQ_MSI_LIB
	select ARM_GIC_ITS_PARENT
	default ARM_GIC_V3
	select IRQ_MSI_IOMMU

config ARM_GIC_V5
	bool
	select IRQ_DOMAIN_HIERARCHY
	select GENERIC_IRQ_EFFECTIVE_AFF_MASK
	select GENERIC_MSI_IRQ
	select IRQ_MSI_LIB
	select ARM_GIC_ITS_PARENT

config IRQ_MSI_LIB
	bool
	select GENERIC_MSI_IRQ

config XILINX_INTC
	bool "Xilinx Interrupt Controller IP"
	depends on OF_ADDRESS
	select IRQ_DOMAIN
	help
	  Support for the Xilinx Interrupt Controller IP core.

endmenu
