# SPDX-License-Identifier: GPL-2.0
menu "Device Drivers"

# Keep I/O buses first

source "drivers/amba/Kconfig"
source "drivers/pci/Kconfig"

source "drivers/base/Kconfig"

source "drivers/firmware/Kconfig"

source "drivers/of/Kconfig"

source "drivers/nvme/Kconfig"

source "drivers/scsi/Kconfig"

source "drivers/char/Kconfig"

source "drivers/virtio/Kconfig"

source "drivers/clk/Kconfig"

source "drivers/clocksource/Kconfig"

source "drivers/irqchip/Kconfig"

endmenu
