# SPDX-License-Identifier: GPL-2.0
menu "Device Drivers"

# Keep I/O buses first

source "drivers/amba/Kconfig"
source "drivers/pci/Kconfig"

config PC104
	bool "PC/104 support" if EXPERT
	help
	  Expose PC/104 form factor device drivers and options available for
	  selection and configuration. Enable this option if your target
	  machine has a PC/104 bus.

source "drivers/base/Kconfig"

source "drivers/bus/Kconfig"

source "drivers/firmware/Kconfig"

source "drivers/of/Kconfig"

source "drivers/pnp/Kconfig"

source "drivers/nvme/Kconfig"

source "drivers/scsi/Kconfig"

source "drivers/char/Kconfig"

source "drivers/dma/Kconfig"

source "drivers/virtio/Kconfig"

source "drivers/clk/Kconfig"

source "drivers/clocksource/Kconfig"

source "drivers/iommu/Kconfig"

source "drivers/irqchip/Kconfig"

endmenu
